.idea
target
src/test/resources/webdriver/windows/chromedriver.exe
src/test/resources/webdriver/windows
resources/webdriver/windows
chromedriver.exe
src/test/java/co/konecta/sura/certificate/runners/PrincipalRunner.java
.gradle
*.iml
build