.idea
target
src/test/resources/webdriver/windows/chromedriver.exe
src/test/resources/webdriver/windows
resources/webdriver/windows
chromedriver.exe
src/test/java/co/konecta/sura/certificate/runners/PrincipalRunner.java
build/classes/java/test/co/konecta/sura/certificate/runners/PrincipalRunner.class
.gradle/6.7/executionHistory
.gradle/6.7/fileHashes
.gradle/6.7/javaCompile
.gradle/buildOutputCleanup
.gradle
*.iml
build
build/classes
 build/test-results
  build/tmp